<!DOCTYPE html>
<html>

<head>
    <title>Todo 範例製作</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js"
        integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <script src="/javascripts/vendor.js"></script>

</head>

<body class="bg-lighter">

    <div class="container my-5">
        <div class="row">

            <div class="col-md-9 post">
                <!-- 練習開始 -->
                <h1 class="mt-0 text-muted">Todo 範例製作</h1>
                <div id="app">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">待辦事項</span>
                        </div>
                        <input type="text" class="form-control" placeholder="準備要做的任務" v-model="newTodo"
                            @keyup.enter="addTodo">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <!--  active若是在visibility為某個參數的情況，那麼就是啟動的狀態-->
                                    <!--  利用點擊事件來控制visibility的值-->
                                    <a class="nav-link" :class="{'active':visibility=='all'}" @click="visibility='all'"
                                        href="#">全部</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :class="{'active':visibility=='active'}"
                                        @click="visibility='active'" href="#">進行中</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :class="{'active':visibility=='completed'}"
                                        @click="visibility='completed'" href="#">已完成</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="list-group list-group-flush text-left">
                            <li class="list-group-item" v-for="(item,key) in filteredTodos" @dblclick="editTodo(item)">
                                <div class="d-flex" v-if="item.id !== cacheTodo.id">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" v-model="item.completed"
                                            :id="item.id">
                                        <label class="form-check-label" :class="{'completed':item.completed}"
                                            :for="item.id">
                                            {{ item.title }}
                                        </label>
                                    </div>
                                    <button type="button" class="close ml-auto" @click="removeTodo(item)"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- v-model就是預存的資料內容 -->
                                <!-- 按下取消內容esc就是取消編輯 -->
                                <input type="text" class="form-control" v-model="cacheTitle" @keyup.esc="cancelEdit"
                                    @keyup.enter="doneEdit(item)" v-if="item.id === cacheTodo.id">
                            </li>


                            <!-- <li class="list-group-item">
                                <input type="text" class="form-control">
                            </li> -->
                        </ul>
                        <div class="card-footer d-flex justify-content-between">
                            <span v-if="notCompleted">
                                還有{{notCompleted}}筆任務未完成
                            </span>
                            <span v-if="!notCompleted">
                                目前尚未有代辦事項清單
                            </span>
                            <a @click="clearAllTodos" href="#">清除所有任務</a>
                        </div>
                    </div>

                </div>

                <script>
                    var app = new Vue({
                        el: '#app',
                        data: {
                            // 使用newTodo來新增待辦事項
                            newTodo: '',
                            // 是一個陣列，用來呈現目前待辦事項有哪些內容
                            todos: [
                                // {
                                // id: '1',
                                // title: '你好',
                                // completed: false}
                            ],
                            // 暫時存放todo的地方
                            cacheTodo: {},
                            // 編輯標題時預存的地方
                            cacheTitle: {},
                            visibility: 'all',
                            // 存放尚未做好的代辦事項的數量
                            notNum: 0
                        },
                        methods: {
                            // 用來新增有哪些待辦事項
                            addTodo: function () {
                                // trim的方法是將多餘的空白清掉
                                var value = this.newTodo.trim()
                                // 把時間轉為數字
                                var timestamp = Math.floor(Date.now())
                                // console.log(value, timestamp)
                                // 如果新增的代辦事項是空的，就不要顯示

                                if (!value) {
                                    return
                                }
                                // 新增物件到todos裡面
                                this.todos.push({
                                    id: timestamp,
                                    title: value,
                                    completed: false
                                })

                                this.newTodo = ''
                            },
                            // todo是我們要刪除的東西
                            removeTodo: function (todo) {
                                // 因為點下刪除的叉叉不知道是哪個叉叉，因此要將相關的參數傳入
                                // 寫法1
                                // var newIndex = ''
                                // var vm = this
                                // var newIndex = vm.todos.forEach(function (item, key) {
                                //     // 比對item的id是否與todo的id一樣
                                //     if (todo.id === item.id) {
                                //         newIndex = key
                                //     }

                                // })
                                // 寫法2
                                var vm = this
                                console.log(this)
                                var newIndex = vm.todos.findIndex(function (item, key) {
                                    return todo.id === item.id

                                })
                                // 會splice會根據array裡面的index(key)去刪東西
                                this.todos.splice(newIndex, 1)

                            },
                            // 點擊兩下去修改代辦事項清單
                            editTodo: function (item) {
                                console.log(item)
                                // 先將目前正在編輯的資料存放起來
                                this.cacheTodo = item
                                this.cacheTitle = item.title

                            },
                            // 取消編輯
                            cancelEdit: function () {
                                this.cacheTodo = {}
                            },
                            // 編輯完成
                            doneEdit: function (item) {
                                item.title = this.cacheTitle
                                this.cacheTitle = ''
                                this.cacheTodo = ''
                            },
                            // 清除所有任務
                            clearAllTodos: function () {
                                this.todos = []
                            }

                        },
                        // 利用computed的方法來過濾tab資料，使得tab內頁可以對應到正確的內容
                        computed: {
                            filteredTodos: function () {
                                // 分類為全部、進行中、完成
                                if (this.visibility == 'all') {
                                    return this.todos
                                } else if (this.visibility == 'active') {
                                    var newTodos = []
                                    // 藉由所有待辦清單，來看是否完成了
                                    this.todos.forEach(function (item) {
                                        if (!item.completed) {
                                            newTodos.push(item)
                                        }

                                    })
                                    return newTodos
                                } else if (this.visibility == 'completed') {
                                    var newTodos = []
                                    this.todos.forEach(function (item) {
                                        if (item.completed) {
                                            newTodos.push(item)
                                        }

                                    })
                                    return newTodos
                                }

                            },
                            notCompleted: function () {
                                let notArr = []
                                this.todos.map((item) => {
                                    if (!item.completed) {
                                        notArr.push(item)
                                    }
                                })
                                return notArr.length

                            }
                        }

                    });
                </script>

                <style>
                    .completed {
                        text-decoration: line-through
                    }
                </style>

            </div>
        </div>
    </div>
</body>

</html>